<?xml version="1.0" encoding="utf-8" ?>
<!--
Programmers: Amritpal Singh, Dhruvanshi Ghiya
File Name: App.config
Project: Logging Server
Solution: Logging Service
Date: 25 Feburary, 2022
Description: Conatins Project configuration and server Ip address and port value
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="server_ip_address" value="10.169.92.228"/>
		<add key="server_port" value="9001"/>
	</appSettings>
</configuration>